{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}

{% block page_body %}
{#        {{ form.hidden_tag() }}#}
{#        {{ form.title(class="form-control", placeholder=("请输入标题……") ) }}#}
{#        {{ form.body(only_input=True,rows=10,class="form-control") }}#}
{#        {{ form.body(only_preview=True) }}#}
{#        {{ form.submit(class="btn btn-primary") }}#}

    <div class="container">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title(class="form-control", placeholder=("请输入标题……") ) }}
            </div>
            <div class="form-group">
                {{ form.body(only_input=True,rows=10,class="form-control") }}
            </div>
            <div>
                {{ form.body(only_preview=True) }}
            </div>
            <div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

{#    {{ wtf.quick_form(form) }}#}

{% endblock %}