<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <h1>Login</h1>
    <h1>HTTP方法：{{ method }}</h1>
    <form method="post">
        <div>
            <input type="text"
                   name="username"
                   placeholder="user name">
        </div>
        <div>
            <input type="password"
                   name="password"
                   placeholder="password">
        </div>
        <div>
            <input type="submit" >
        </div>
    </form>

</body>
</html>