{% extends 'bootstrap/base.html' %}

{% block title %}{{ title }}{% endblock %}
{% block head %}
    {{ super() }}
    {% include ['includes/_head.html','includes/_metas.html']%}
    {# 如果是多个文件，可以使用数组的形式include ['includes/_head.html','includes/_cool.html'] #}
{% endblock %}

{% block styles %}
{#加入CDN的样式#}
    {{ super() }}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css"
          />
{% endblock %}

{% block navbar %}
{#    {{ nav.top.render()}}#}
    {% include 'includes/_navbar.html' %}
{% endblock %}


{% block content %}
    {% block header %}
        <header>
            <div class="page-header">
                <div class="container">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block page_body %}
    {% endblock %}
{% endblock %}


{% block footer %}
    <footer class="container-fluid foot-wrap">
        <p align="center" style="margin-top: 20px;color:#878B91;">
            Copyright 2017 by <a href="https://www.baidu.com">GloryRoad</a>
        </p>
    </footer>
{% endblock %}





